/* css styles */

/* Definition */
.definitionbox {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .25rem;
    border-left: solid #acacac .3rem;
    border-right: solid 0.5px silver;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
    border-left-color: #4A90E2 !important; /* Blue */

    /* Centrar el bloque */
    display: block;
    width: 100%; /* O el ancho que prefieras */
    margin-left: auto;
    margin-right: auto;
}

.definitionbox-icon {
    height: 0.9rem;
    width: 0.9rem;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: 0.9rem 0.9rem;
    margin-top: .5rem;
    padding-right: 1.25rem;
    background-image: url('icons8-search-50.png');
}

.definitionbox-header{
    margin-bottom: 0.5em;
    font-weight: 600;
    opacity: 85%;
    font-size: 0.9rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    background-color: #D9E8FF; /* Light Blue */
    height: 2em;
    overflow: hidden;
}

.definitionbox-header p {
    padding-top: 0.2em;
}

.definitionbox-body {
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.definitionbox-body > :last-child {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

/* Example */
.examplebox {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .25rem;
    border-left: solid #acacac .3rem;
    border-right: solid 0.5px silver;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
    border-left-color: #FFA500 !important; /* Orange */

    /* Centrar el bloque */
    display: block;
    width: 100%; /* O el ancho que prefieras */
    margin-left: auto;
    margin-right: auto;
}

.examplebox-icon {
    height: 0.9rem;
    width: 0.9rem;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: 0.9rem 0.9rem;
    margin-top: .5rem;
    padding-right: 1.25rem;
    background-image: url('icons8-bulbo-50.png'); /* Lightbulb icon */
}

.examplebox-header{
    margin-bottom: 0.5em;
    font-weight: 600;
    opacity: 85%;
    font-size: 0.9rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    background-color: #FFD580; /* Light Orange */
    height: 2em;
    overflow: hidden;
}

.examplebox-header p {
    padding-top: 0.2em;
}

.examplebox-body {
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.examplebox-body > :last-child {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}


/* Lemma */
.lemmabox {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .25rem;
    border-left: solid #acacac .3rem;
    border-right: solid 0.5px silver;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
    border-left-color: #FF9800 !important; /* Orange */

    /* Centrar el bloque */
    display: block;
    width: 100%; /* O el ancho que prefieras */
    margin-left: auto;
    margin-right: auto;
}

.lemmabox-icon {
    height: 0.9rem;
    width: 0.9rem;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: 0.9rem 0.9rem;
    margin-top: .5rem;
    padding-right: 1.25rem;
    background-image: url('icons8-contraseña-1-30.png');
}

.lemmabox-header{
    margin-bottom: 0.5em;
    font-weight: 600;
    opacity: 85%;
    font-size: 0.9rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    background-color: #FFE0B2; /* Light Orange */
    height: 2em;
    overflow: hidden;
}

.lemmabox-header p {
    padding-top: 0.2em;
}

.lemmabox-body {
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.lemmabox-body > :last-child {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}


/* Theorem*/
.theorembox {
    margin-top: 1em;
    margin-bottom: 1em;  
    border-radius: .25rem;
    border-left: solid #acacac .3rem;
    border-right: solid 0.5px silver;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
    border-left-color: #9834eb !important;

    /* Centrar el bloque */
    display: block;
    width: 100%; /* O el ancho que prefieras */
    margin-left: auto;
    margin-right: auto;
}

.theorembox-icon {
    height: 0.9rem;
    width: 0.9rem;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: 0.9rem 0.9rem;
    margin-top: .5rem;
    padding-right: 1.25rem;
    background-image: url('icons8-read-32.png');
}

.theorembox-header{
    /* margin-top: 0.5em; */
    margin-bottom: 0.5em;
    border-bottom: none;
    font-weight: 600;
    opacity: 85%;
    font-size: 0.9rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    background-color: #f5e8ff;
    height: 2em;
    overflow: hidden;
}

.theorembox-header p {
    padding-top: 0.2em;
}

.theorembox-body {
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.theorembox-body  > :last-child {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
  }